{% extends 'base.html.twig' %}

{% block title %}Your Assets{% endblock %}

{% block body %}
    <div class="container">
        <h1>Instrument index</h1>
    </div>
    <div class="container">
        <table class="table">
        <thead>
        <tr>                
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for instrument in instruments %}
            <tr>
            <td>{{ instrument.symbol }}</td>
            <td>{{ instrument.quantity }}</td>
            <td>
            <a href="{{ path('instrument_show', {'id': instrument.id}) }}" class="btn btn-outline-info">Show</a>
            <a href="{{ path('instrument_edit', {'id': instrument.id}) }}" class="btn btn-outline-info">Edit</a>
            </td>
            </tr>
        {% else %}
            <tr>
            <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>  
    </div>
    <div class="container">
        <a href="{{ path('instrument_new') }}" class="btn btn-outline-primary">Add new Instrument to Assets</a>
    </div>
    <div class="container">
    Data is taken from {{api}} API.
    </div>
    <div class="container">
        <a href="http://127.0.0.1:8000/data/setapi/f?api=Alpha" class="btn btn-outline-primary">Change API to Alpha Vantage</a>
        <a href="http://127.0.0.1:8000/data/setapi/f?api=WTG" class="btn btn-outline-primary">Change API to WTG</a>
    </div>
{% endblock %}
