{% extends 'base.html.twig' %}

{% block title %}Instrument index{% endblock %}

{% block body %}
    <h1>Instrument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Symbol</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instrument in instruments %}
            <tr>
                <td>{{ instrument.id }}</td>
                <td>{{ instrument.symbol }}</td>
                <td>
                    <a href="{{ path('instrument_show', {'id': instrument.id})  }}">show</a>
                    <a href="{{ path('instrument_edit', {'id': instrument.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('instrument_new') }}">Create new</a>
{% endblock %}
