{% extends 'base.html.twig' %}

{% block title %}Instrument{% endblock %}

{% block body %}
    <h1>Instrument</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instrument.id }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ instrument.symbol }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('instrument_index') }}">back to list</a>

    <a href="{{ path('instrument_edit', {'id': instrument.id}) }}">edit</a>

    {{ include('instrument/_delete_form.html.twig') }}
{% endblock %}
